/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #555;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
#hero {
    height: 100vh;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#hero .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
#ch {
    height: 208vh;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#ch .ch-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#ch .ch-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 25px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    border-width: 0;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #388E3C;
}

/* Portfolio Section */
#portfolio {
    background-color: #fff;
    padding: 60px 20px;
}
#nport {
    background-color: #fff;
    padding: 60px 20px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.portfolio-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.portfolio-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.portfolio-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#4CAF50;
}

.portfolio-item p {
    color: #777;
    padding-bottom: 10px;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.nport-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.nport-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.nport-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.nport-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.nport-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#4CAF50;
}

.nport-item p {
    color: #777;
    padding-bottom: 10px;
}

.nport-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 20px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: #4CAF50;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #hero .hero-content h1 {
        font-size: 2.5rem;
    }

    #hero .hero-content p {
        font-size: 1.1rem;
    }
}
.qbox{
    padding: 10px; 
}
.qbox #quantity{
    width: 52px;
    font-size: 34px;
    height: 50px;
    border-radius: 12px;
    border: 4px solid #388E3C;
    color: #388E3C;
}
.qbox input{
    padding-top: 10px;
    height:44px;
    border-radius: 12px;
    border: 4px solid #388E3C;
    color: #388E3C;
}
.qbox #Address{
    
    height:121px;
    width: 244px;
    border-radius: 12px;
    border: 4px solid #388E3C;
    color: #388E3C;
}